/*
Theme Name:     Rocked Child
Theme URI:      http://example.com/
Description:    Tema Child per il tema Rocked
Author:         Roberto Bruno
Author URI:     http://www.pigrecolab.com
Template:       rocked
Version:        0.1.0
*/
@import url('https://fonts.googleapis.com/css?family=Courgette');

.site-logo {
    max-height: 200px!important; 
}
.mapborder {
	    border-style: double none double none;
    border-width: 2px;
    border-color: red;
    position: relative;
}
.map-icon-big {
		color: #fff;
	font-size: 18px;
	background-color: #11a8f9;
	margin-right: 12px;
	margin-bottom: 15px;
	border-radius: 50%;
	padding: 6px;
	box-shadow: 3px 3px 2px #888888;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.contactinfo {
	    border-style: double none double none;
    border-width: 1px;
    border-color: red;
}

.map-icon-label .homemap-icon {
	font-size: 18px;
	color: #FFFFFF;
	width: 18.3438px;
	line-height: 60px;
	text-align: center;
	white-space: nowrap;
}

.homemap-icon {
	font-family: 'map-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.regionfield {
	position: absolute;
	top: 20px;
	right: 60px;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.container {
	background-color: #fff;
}

.roll-team {
    border: 1px solid #888;
    padding: 0 0;
    min-height: 350px;
}
.roll-team .photo {
	height: 230px;
	overflow: hidden;
}

h1,h2 {
	font-family: 'Courgette', cursive;
	padding: 10px;
	color: #ff9933;
}
.struicon {
	position: absolute;
	left: 15px;
	top: 15px;
}
.acc_content {
	margin-top: 30px;
}
.roll-team .overlay {
    background-color: rgba(255, 168, 0, 0.6);
}
.roll-team .info {
     border-bottom: 0px; 
}
textarea, input[type="text"], input[type="submit"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .dropdown-menu, .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    border: 1px solid #888;
    width: 100%;
}

#lightSlider ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
#lightSlider li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
h3 {
	text-transform: capitalize!important;
}
footer {
	background-color: #f08635;
	margin-top: 20px;
	padding-top: 20px;
	color: #fff;
}
footer .container {
	background-color: transparent;
}

footer h3, footer h4 {
	color: #c01313;
}
footer a {
		color: #fff;
}
ul.social-network  li a {
	display: block;
	float: left;
	margin: 10px;
	font-size: 30px;
}
ul.social-network {
    list-style: none;
}
/*.DOPBSPSearch-results .dopbsp-list li .dopbsp-image {
    height: 120px!important;
    width: 120px!important;
}
.DOPBSPSearch-results .dopbsp-list li .dopbsp-image img {
    height: 120px!important;
}
.DOPBSPSearch-results .dopbsp-list li .dopbsp-image a {
height: 120px!important;
}*/