/*
Theme Name:     Rocked Child
Theme URI:      http://example.com/
Description:    Tema Child per il tema Rocked
Author:         Roberto Bruno
Author URI:     http://www.pigrecolab.com
Template:       rocked
Version:        0.1.0
*/
@import url('https://fonts.googleapis.com/css?family=Lato');

.site-logo {
    max-height: 200px!important; 
}
.mapborder {
	    border-style: double none double none;
    border-width: 2px;
    border-color: red;
    position: relative;
}
.map-icon-big {
		color: #fff;
	font-size: 18px;
	background-color: #11a8f9;
	margin-right: 12px;
	margin-bottom: 15px;
	border-radius: 50%;
	padding: 6px;
	box-shadow: 3px 3px 2px #888888;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.contactinfo {
	    border-style: double none double none;
    border-width: 1px;
    border-color: red;
}

.map-icon-label .homemap-icon {
	font-size: 18px;
	color: #FFFFFF;
	width: 18.3438px;
	line-height: 60px;
	text-align: center;
	white-space: nowrap;
}

.homemap-icon {
	font-family: 'map-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.regionfield {
	position: absolute;
	top: 20px;
	right: 60px;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.container {
	background-color: #fff;
}

.roll-team {
    border: 1px solid #888;
    padding: 0 0;
}
