.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}

.gm-style-iw {
  width: 150px; 
  min-height: 150px;
}